In [1]:
import pandas as pd

In [54]:
df_train: pd.DataFrame = pd.read_csv('data/titanic/train.csv')
df_test: pd.DataFrame = pd.read_csv('data/titanic/test.csv')
# df_all: pd.DataFrame = pd.concat([df_train, df_test], ignore_index=True, sort=True)

In [55]:
print("Train Size:", df_train.shape)
print("Test Size:", df_test.shape)

Train Size: (891, 12)
Test Size: (418, 11)

In [56]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [57]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [58]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [59]:
# 缺失值用 平均值代替
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].mean())

In [60]:
# 对Cabin客舱号进行缺失值处理：因为没办法填充，用Unknown标识出来
df_train['Cabin'].fillna('Unknown', inplace=True)

In [61]:
# 对Embarked登船港口进行缺失值处理
print(df_train['Embarked'].value_counts())
# 只缺了2条,就用众数S填充
df_train['Embarked'] = df_train['Embarked'].fillna('S')

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [62]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S

In [63]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          891 non-null object
Embarked       891 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [73]:
# 删除姓名、ID、船票、客舱等无关信息，axis=0 删除行，=1 删除列
data = df_train.drop(['Name', 'PassengerId', 'Ticket', 'Cabin'], axis=1)
# 使用get_dummies 对性别与登船港口 进行one-hot编码
data_dummy = pd.get_dummies(data[['Sex', 'Embarked']])
print(data_dummy.head())

# 编码后的数据与原来其他列的数据重新拼接起来
data = pd.concat([data, data_dummy], axis=1)
# 删除编码前的 性别与登船港 列
data.drop(['Sex', 'Embarked'], axis=1, inplace=True)
print(data.head())

   Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0           0         1           0           0           1
1           1         0           1           0           0
2           1         0           0           0           1
3           1         0           0           0           1
4           0         1           0           0           1
   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male  \
0         0       3  22.0      1      0   7.2500           0         1
1         1       1  38.0      1      0  71.2833           1         0
2         1       3  26.0      0      0   7.9250           1         0
3         1       1  35.0      1      0  53.1000           1         0
4         0       3  35.0      0      0   8.0500           0         1

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [74]:
from sklearn.model_selection import train_test_split

# x为特征,y为标签
x = data.drop('Survived', axis=1)
y = data['Survived']

# 分割训练集和测试集
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [76]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='liblinear')
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [78]:
print("训练集acc准确率:", model.score(x_train, y_train))
print("测试集acc准确率:", model.score(x_test, y_test))

训练集acc准确率: 0.8041733547351525
测试集acc准确率: 0.8022388059701493

In [80]:
# model.score(x_test, y_test) 等价于 下面2步
from sklearn.metrics import accuracy_score
y_predict = model.predict(x_test)
print("测试集acc准确率:", accuracy_score(y_test, y_predict))

测试集acc准确率: 0.8022388059701493

In [81]:
from sklearn.metrics import classification_report
# 查看模型的性能指标
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.84      0.85      0.84       168
           1       0.74      0.72      0.73       100

   micro avg       0.80      0.80      0.80       268
   macro avg       0.79      0.79      0.79       268
weighted avg       0.80      0.80      0.80       268